<div class="center hero-unit">
	<h1>Welcome to FakeBook</h1>

	<h2> Welcome to FakeBook! </h2>
	
	<%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
	OR

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>
